.tiles{
    background-color: #33b5e5;
    border: 2px solid #fff456;
    border-radius: 10px;
    color: #fff;  
}

.big-card{
    height: 280px;
}

.small-card{
    height: 115px;
}


/* .tall {
	height:170px;
}

section {
	margin-top:100px;
  	margin-bottom:50px;
}  */